<div class="panel">
  <h2>Bindings</h2>
  <input type="checkbox" [(ngModel)]="isDisabled">
  <button (click)="logMessage('Message from Bindings')" [disabled]="isDisabled">Binding button</button>
</div>

<div class="panel">
 <h2>NgModel</h2>
 <input type="text" [value]="textModel" (input)="textModel=$event.target.value">
 <input type="text" [ngModel]="textModel" (ngModelChange)="textModel=$event">
 <input type="text" [(ngModel)]="textModel">
</div>


<div class="panel">
 <h2>NgStyle</h2>
<input type="checkbox" [(ngModel)]="shouldHaveBoldText">
 <button [style.font-weight]="shouldHaveBoldText ? 'bold' : 'normal'" (click)="logMessage('Message from NgStyle')">Some Button</button>
</div>

<div class="panel">
 <h2>NgClass</h2>
 <input type="checkbox" [(ngModel)]="shouldHaveBoldText">
 <button [class.boldText]="shouldHaveBoldText">Some Button</button>
<br/>
<br/>
<input type="checkbox" [(ngModel)]="currentClasses.saveable">
 <input type="checkbox" [(ngModel)]="currentClasses.modified">
 <input type="checkbox" [(ngModel)]="currentClasses.special">
 <button [ngClass]="currentClasses">Some Button2</button>
 <button (click)="useDefaultClasses()">Default</button>

 <style>
   .saveable{
     font-weight: bold;
   }
   .modified{
     background-color: green;
   }
   .special{
     border-color: red;
   }
   .boldText{
     font-weight: bold;
   }
 </style>
</div>


<div class="panel">
 <h2>NgIf</h2>
 <div id="employeeForm" *ngIf="employee">
   <input type="text" [(ngModel)]="employee.firstName">
   <input type="text" [(ngModel)]="employee.lastName">
 </div>
</div>

<div class="panel">
 <h2>NgFor</h2>
 <div *ngFor="let car of carList; let i=index">
   {{i}}. My car is {{car.model}} ({{car.desc}})
  </div>
</div>

<div class="panel">
  <h2>Components</h2>
  <app-input-view [inputText]="firstText"></app-input-view>
  <app-input-view [inputText]="secondText"></app-input-view>
 </div>