<form style="width:50%; margin:30px;" (ngSubmit)="onSubmit()" [formGroup]="carForm">
  <div class="form-group">
    <input type="text" formControlName="manufacturer" placeholder="Manufacturer..." class="form-control">
    <div *ngIf="!carForm.controls.manufacturer.valid && !carForm.controls.manufacturer.pristine" class="alert alert-danger">
      Manufacturer is required
    </div>
  </div>
  <div class="form-group">
    <input type="text" formControlName="vin" placeholder="Vin Code..."
      class="form-control">
    <div *ngIf="carForm.controls.vin.errors && !carForm.controls.vin.pristine">
      <div *ngIf="carForm.controls.vin.errors.minlength || carForm.controls.vin.errors.maxlength" class="alert alert-danger">
        Vin is invalid (should be 17 characters long)
      </div>
      <div *ngIf="carForm.controls.vin.errors.required" class="alert alert-danger">
        Vin is required
      </div>
    </div>

  </div>
  <div class="form-group">
    <input type="number" formControlName="year" placeholder="Year..." class="form-control">
  </div>
  <select class="form-control" id="engine" required formControlName="engine" >
    <option *ngFor="let eng of engines" [value]="eng">{{eng}}</option>
  </select>
  <div class="form-group">
    <input type="checkbox" formControlName="forSale" name="forSale" id="forSale">
    <label class="form-check-label" for="forSale">Is For Sale ? </label>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="!carForm.valid" class="btn btn-primary">Save</button>
    <button type="button" [disabled]="!carForm.dirty" (click)="resetForm()" class="btn btn-primary" style="margin-left:15px;">Restore</button>
  </div>
</form>