<div id="menu">
    <button routerLink="base-view">Base View</button>
    <button routerLink="detail-view">Detail View</button>
    <button routerLink="parent-child">Parent-Child Example</button>
    <button routerLink="services-example">Services Example</button>
    <button routerLink="users-list">Users List</button>
    <button routerLink="tic-tac-toe">Tic-Tac-Toe</button>
    <button routerLink="template-form">Template Driven Form</button>
    <button routerLink="reactive-form">Reactive Form</button>
    <button routerLink="observable">Observable</button>
</div>

<router-outlet></router-outlet>