@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

/* You can add global styles to this file, and also import other style files */
.panel{
    width: 500px;
    height: 900px;
    padding: 15px;
    left: 0;
    right: 0;
    border: 2px solid lightslategrey;
    margin: 15px;
}

.userCell{
    padding: 10px;
    width: 200px;
    overflow: hidden;
    float: left;
}

.tableCell{
  width: 300px;
  float: left;
  padding: 5px;
}

.tableRow {
    display: inline-block;
}